<% if @path.nil? %>
  <p>Mi dispiace, ma questo non sono path tuoi</p>
<% else %>
  <h1>Il nome di questo path è "<%= current_user.paths.first.name %>"</h1>

  <p>il suo autore è <%= @user.email %></p>


  <p><%= current_user.paths.count %></p>
  <hr>

  <% current_user.paths.each do |x| %>
    <p><%= x.name %></p>
    <p><%= x.id %></p>
  <% end %>

  <%= link_to "Modify the path name", edit_path_path(@path)  %>
  <hr>

  <div>
    <%= link_to "Create an hexagon", new_path_hexagon_path(@path, @hexagon)  %>
  </div>

  <br><br>

  <% @path.hexagons.each do |hexagon| %>
    <div class="p-3 border">
      <h3><%= link_to hexagon.title, path_hexagon_path(@path, hexagon) %></h3>
      <p><%= hexagon.short_description %></p>
      <p><%= hexagon.date %></p>


      <%= link_to "Modify", edit_path_hexagon_path(@path, hexagon) %>
      <%= link_to "Delete", hexagon_path(hexagon), method: :delete %>
    </div>
  <% end %>
<% end %>
