<% if @path.nil? %>
  <p>Mi dispiace, ma questo non sono path tuoi</p>
<% else %>

  <div class="flex-title">
    <h1 class="title-shadow"><%= @path.name %></h1>
    <%= link_to "Edit", edit_path_path(@path), class: "button-full" %>
  </div>

  <div class="d-flex justify-content-end mb-4" style="line-height: 80px">
    <%= link_to "<i class='fas fa-plus' style=''></i>".html_safe, new_path_hexagon_path(@path, @hexagon), class: "mr-3 plus-icon" %></p>
  </div>

  <!-- Contenitore di BIG -->

  <div class="flex">
    <% @path.hexagons.each do |hexagon| %>
      <svg class="svg-box-big">
        <polygon class="shape" points="160,8 320,80 320,280 160,360 8,280 8,80" stroke-linejoin="round"/>

        <foreignObject class="foreign-big">
          <div class="text-content vertical-flex">
            <h2 class="h-title"><%= link_to hexagon.title, path_hexagon_path(@path, hexagon) %></h2>
            <p class="date text-shadow-light mb-2 mt-2"><%= hexagon.date %></p>
            <div class="mt-1 mb-2">
              <%= link_to "<i class='far fa-arrow-alt-circle-right' style=''></i>".html_safe, path_hexagon_path(@path, hexagon), class: "text-shadow-light arrow-icon-big" %>
            </div>
            <div class="">
              <%= link_to "<i class='fas fa-trash' style=''></i>".html_safe, hexagon_path(hexagon), method: :delete, data: { confirm: "Are you sure?" }, class: "text-shadow-light trash-icon" %>
            </div>

          </div>
        </foreignObject>
      </svg>
    <% end %>
  </div>

<% end %>




