<% if @path.nil? %>
  <p>Mi dispiace, ma questo non sono path tuoi</p>
<% else %>

  <div class="flexbox-between">
    <h1><%= current_user.paths.first.name %></h1>
    <%= link_to "<i class='far fa-edit' style='color: #a0dbc3; font-size: 28px;'></i>".html_safe, edit_path_path(@path), class: "ml-3" %>
  </div>

  <hr>

  <div class="d-flex justify-content-end">
    <%= link_to "<i class='fas fa-plus' style='color: #a0dbc3; font-size: 28px;'></i>".html_safe, new_path_hexagon_path(@path, @hexagon), class: "mr-3" %></p>
  </div>


  <div class="hexagons-container mt-3">
    <% @path.hexagons.each do |hexagon| %>
      <div class="p-3 hexagon-medium">
        <div>
          <h3><%= link_to hexagon.title, path_hexagon_path(@path, hexagon) %></h3>
          <p class="date"><%= hexagon.date %></p>
          <p><%= hexagon.short_description %></p>
        </div>


        <div>
          <%= link_to "<i class='fas fa-trash' style='color: #a0dbc3; font-size: 16px;'></i>".html_safe, hexagon_path(hexagon), method: :delete, data: { confirm: "Are you sure?"}, class: "" %>
        </div>
      </div>
    <% end %>

  </div>

  <br><br><br>


  <hr>

<% end %>

<%= cl_image_tag("0en0uixbcm5e68l31xz2k7iknvxt",
      width: 400, height: 300, crop: :fill) %>


