<h1>Il mio profilo</h1>

<% if @user.photo.attached? %>
  <%= cl_image_tag(@user.photo.key,
        width: 400, height: 300, crop: :fill) %>
<% else %>
  <p>ciao</p>
<% end %>

<h4>First Name</h4>
<p><%= @user.first_name %></p>
<h4>Age:</h4>
<p><%= @user.age %></p>
<h4>Email</h4>
<p><%= @user.email %></p>
<h4>Password</h4>
<p><%= @user.password %></p>


<%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary"  %>
