<div class="main-container-smaller">

  <div class="flex-title">
    <h1 class="title-shadow">Profile info</h1>
  </div>


  <div class="profile-flex mt-5">
    <div class="profile left border-right centered">
      <% if @user.photo.attached? %>
        <div>
          <%= cl_image_tag(@user.photo.key,
                width: 320, height: 320, crop: :fill, radius: :max, background: "white") %>
        </div>
      <% else %>
        <div>
          <%= cl_image_tag "no-user-image-square_xfjjjx", width: 320, height: 320, crop: :fill, radius: :max, background: "#7dc2af" %>
        </div>
      <% end %>
    </div>



    <div class="profile right border-left centered">

      <div class="first-personal-info">
        <h4>First Name</h4>
        <p><%= @user.first_name %></p>
      </div>
      <div class="personal-info">
        <h4>Age:</h4>
        <p><%= @user.age %></p>
      </div>
      <div class="personal-info">
        <h4>Email</h4>
        <p><%= @user.email %></p>
      </div>

      <%= link_to "Edit", edit_user_registration_path, class: "button-full mt-5"  %>

    </div>

  </div>


</div>

