<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Modify the hexagon</h2>

      <%= simple_form_for [@path, @hexagon] do |f| %>

        <div class="form-inputs">

          <div class="field">
            <%= f.input :title %>
          </div>
          <div class="field">
            <%= f.input :date %>
          </div>
          <div class="field">
            <%= f.input :short_description %>
          </div>

          <div class="field">
            <%= f.label :long_content %>
            <%= f.rich_text_area :long_content %>
          </div>

        </div>

        <div class="form-actions">
          <%= f.button :submit, "Modify" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
