<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2>Create a new hexagon</h2>

      <%= simple_form_for [@path, @hexagon] do |f| %>

        <div class="field">
          <%= f.input :title %>
        </div>
        <div class="field">
          <%= f.input :date %>
        </div>
        <div class="field">
          <%= f.input :short_description %>
        </div>

        <div class="field">
          <%= f.label :long_content %>
          <%= f.rich_text_area :long_content %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Create" %>
        </div>

      <% end %>
    </div>
  </div>
</div>

